* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #170f23;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin-left: 20%;
  width: 80%;
  box-sizing: border-box;
}
